@use './custom.scss' as *;

.navigation-bar {
   position: relative;
   z-index: 10;

   &__ul {
      width: 100%;
      max-width: 225px;
      margin: 0 auto;
   }
   &__anchor {
      &:hover {
         color: $orange;  
      }
   }
   &__anchor--active {
      color: $orange;  
   }
}