.button {
   background-color: $secondary;
   color: $light;
   display: inline-block;
   text-decoration: none;
   font-size: 2.4rem;
   font-weight: bold;
   text-transform: uppercase;
   padding: 1.8rem 2.8rem;
   border-radius: 6px;
   transition: background-color 100ms ease-in-out;

   &:hover {
      background-color: $thirdly;
      color: white;
   }
}